* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  margin-left: 20px;
}
ul {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  gap: 10px;
}
/* body {
  height: 100vh;
} */
.game-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game {
  width: 1024px;
  /* height: 1024px; */
  border: solid red 2px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game-result {
  width: 300px;
  border: solid green;
}
.game-container {
  width: 600px;
  height: 800px;
  display: flex;
  border: solid blue;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
#game-field {
  width: 600px;
  height: 600px;
  display: none;
}
button {
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.score-title {
  display: flex;
  align-items: center;
  font-size: 40px;
  height: 200px;
  visibility: hidden;
}
.score {
  margin-left: 10px;
  font-size: 40px;
}
.arrows {
  display: none;
  flex-direction: column;
  align-items: center;
}
.arrows-info {
  font-size: 30px;
}
.arrows-img {
  width: 96px;
  height: 96px;
  background-image: url('../img/arrows.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  width: 600px;
  height: 600px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.modal-form__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.modal-form label {
  font-size: 40px;
}
#player-name {
  height: 50px;
  width: 300px;
  font-size: 40px;
  padding-left: 20px;
}
select {
  height: 60px;
  width: 300px;
  font-size: 40px;
  padding-left: 20px;
}
option {
  font-size: 40px;
}