* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  margin-left: 20px;
}
ul {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  gap: 10px;
}
.game-wrapper {
  display: flex;
}

.game {
  width: 1024px;
  border: solid red 2px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game-info {
  width: 300px;
  border: solid green;
}
.game-container {
  width: 600px;
  height: 800px;
  display: flex;
  border: solid blue;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#game-field {
  width: 600px;
  height: 600px;
}
button {
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.score-title {
  font-size: 40px;
  margin-bottom: 20px;
}
.score {
  font-size: 40px;
}